@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 520px;
    }

    .go_top_button {
        bottom: 32px;
        right: 32px;
    }

    #top_section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../assets/images/couverture2.webp);
        background-position: 0px 0px, 50% 49%;
    }

    .top_section-logoWrapper {
        width: 180px;
        height: 180px;
    }

    .top_section-title {
        font-size: 42px;
    }

    .top_section-link {
        font-size: 20px;
        padding: 18px 36px;
    }

    #content_section {
        padding: 20px 32px 30px 32px;
    }

    .content-info-container {
        margin-bottom: 100px;
    }

    .content-info-image {
        object-fit: cover;
        width: 520px;
        height: 520px;
    }

    .content-info-title {
        font-size: 36px;
        margin-top: 10px;
    }

    .content-info-text {
        font-size: 18px;
        line-height: 27px;
    }

    .content-contact-container {
        margin-top: -18px;
        margin-bottom: 40px;
    }

    .content-contact-container a {
        min-width: 320px;
        font-size: 16px;
    }

    .assets_wrapper {
        padding: 40px 10px;
    }

    footer {
        margin-top: 130px;
    }

    .footer-midContainer-right {
        flex-direction: row;
        gap: 20px;
    }

    .footer-midContainer-right a {
        min-width: 180px;
        padding: 16px 0px;
        width: 50%;
    }

    .footer-midContainer-right-phone {
        margin-bottom: 0px;
    }

    .footer-botContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-botContainer-brandContainer {
        margin-bottom: 0px;
    }
}