@font-face {
    font-family: 'DM Serif Display';
    src: url('../assets/fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('../assets/fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/DMSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    color: var(--black);
    background-color: var(--main-white);
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
}

.layer {
    width: 100vw;
    padding-bottom: 120px;
}

.wrapper {
    max-width: 320px;
}

.go_top_button {
    position: fixed;
    bottom: 32px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: var(--main-gradient);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: all 0.2s ease;
    z-index: 10;
}

.go_top_button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--main-color);
}

.go_top_button-image {
    width: 15px;
    height: 15px;
}

nav {
    display: none;
}

/* Top section start */
#top_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../assets/images/couverture2.jpeg);
    background-position: 0px 0px, 50% 49%;
    background-size: auto, cover;
    position: relative;
    z-index: 15;
}

.top_section-logoWrapper {
    width: 120px;
    height: 120px;
    background: var(--main-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_section-logo {
    width: 70%;
}

.top_section-title {
    font-size: 38px;
    color: var(--main-white);
    margin-top: 20px;
}

.top_section-link {
    background: #496B68;
    transition: all 0.2s ease-in-out;
    font-weight: normal;
    color: var(--main-white);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 16%;
    padding: 18px 36px;
    border-radius: 8px;
}

/* Top section end */

/* Content section start */
#content_section {
    padding: 0px 32px 50px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* Content info start */
.content-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    width: 100%;
    margin-bottom: 60px;
}

.content-info-imageWrapper {
    margin-bottom: 20px;
}

.content-info-image {
    object-fit: cover;
    width: 320px;
    height: 320px;
}

.image-taille_camion {
    object-position: right;
}

.content-info-title {
    font-size: 28px;
    margin-bottom: 22px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 4px 0;
}

.content-info-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
}

/* Content info end */

/* Content contact start */
.content-contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

.content-contact-container a {
    min-width: 240px;
    text-align: center;
    margin: 12px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid var(--main-color)
}

.content-contact-phone {
    color: var(--main-white);
    background: var(--main-gradient);
}

.content-contact-mail {
    color: var(--main-color);
    background-color: var(--main-white);
}

/* Content contact end */
/* Content section end */

/* Company assets section start */
#assets_section {
    padding: 0 32px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

.assets_wrapper {
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--secondary-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    width: 100%;
    box-sizing: border-box;
}

.asset {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.asset-icon {
    width: 60px;
    margin-bottom: 12px;
}

.asset:first-child .asset-icon {
    width: 80px;
}

.asset-title {
    font-size: 19px;
    color: var(--black);
    text-align: center;
}

.asset-title span {
    font-size: 12px;
}

/* Company assets section end */

footer {
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 110px;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-topContainer {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--lightgrey);
    width: 100%;
}

.footer-topContainer-title {
    font-size: 28px;
    margin-bottom: 22px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 4px 0;
}

.footer-topContainer-text {
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    font-weight: 400;
}

.footer-midContainer {
    margin-bottom: 40px;
    width: 100%;
}

.footer-midContainer-left {
    margin-bottom: 40px;
}

.footer-midContainer-left-title {
    font-size: 18px;
    margin-bottom: 20px;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 4px 0;
}

.footer-midContainer-left p {
    font-size: 16px;
    color: var(--black);
    font-weight: 400;
}

.footer-midContainer-left-phone {
    margin-bottom: 8px;
}

.footer-midContainer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-midContainer-right a {
    min-width: 240px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
}

.footer-midContainer-right-phone {
    margin-bottom: 24px;
    color: var(--main-white);
    background: var(--main-gradient);
}

.footer-midContainer-right-mail {
    color: var(--main-color);
    background-color: var(--main-white);
}

.footer-botContainer {
    width: 100%;
}

.footer-botContainer-brandContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-botContainer-brandContainer-img {
    width: 24px;
}

.footer-botContainer-brandContainer-title {
    color: var(--black);
    font-weight: 400;
    margin-left: 12px;
    font-size: 18px;
}

.footer-botContainer-copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey);
}