@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 520px;
    }

    .top_section-logoWrapper {
        width: 180px;
        height: 180px;
    }

    .top_section-title {
        font-size: 42px;
    }

    .top_section-link {
        font-size: 20px;
        padding: 15px 34px;
    }

    #content_section {
        padding: 20px 32px 70px 32px;
    }

    .content-info-container {
        margin-bottom: 100px;
    }

    .content-info-image {
        object-fit: cover;
        width: 520px;
        height: 520px;
    }

    .content-info-title {
        font-size: 36px;
        margin-top: 10px;
    }

    .content-info-text {
        font-size: 18px;
        line-height: 27px;
    }

    .content-contact-container {
        margin: 10px 0;
        margin-top: -48px;
    }

    .content-contact-container a {
        min-width: 320px;
        font-size: 16px;
    }
}